# Directories
out
temp
input
bin

# Java bytecode
*.class

# Intellij project files
workspace.xml
tasks.xml

# LaTeX output files
*.log
*.toc
*.aux
*.gz
*.pdf

# Text files
*.txt

# System files
.DS_Store
